# Stage I - Data and Project Understanding
Pratik Bhatt

In [1]:
import pandas as pd;
import numpy as np;
import csv as cs;

In [2]:
c_case=pd.read_csv("C:/Users/prati/OneDrive/Desktop/605/2k23/Project Stage - I/Project Stage - I/data/covid_confirmed_usafacts.csv")
#importing case datset and  store in variable called c_case

In [3]:
c_case # dataframe

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-01-07,2023-01-08,2023-01-09,2023-01-10,2023-01-11,2023-01-12,2023-01-13,2023-01-14,2023-01-15,2023-01-16
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,19205,19205,19205,19205,19205,19318,19318,19318,19318,19318
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,68182,68182,68182,68182,68182,68518,68518,68518,68518,68518
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,7120,7120,7120,7120,7120,7188,7188,7188,7188,7188
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,7808,7808,7808,7808,7808,7855,7855,7855,7855,7855
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,12394,12394,12430,12430,12430,12437,12437,12437,12437,12437
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,11997,11997,12035,12035,12035,12045,12045,12045,12045,12045
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,6303,6303,6318,6318,6318,6333,6333,6333,6333,6333
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,2717,2717,2727,2727,2727,2731,2731,2731,2731,2731
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,1876,1876,1880,1880,1880,1881,1881,1881,1881,1881

In [4]:
conform_case= pd.melt(frame = c_case, id_vars=['countyFIPS','County Name','State','StateFIPS'], var_name= ['Date'], value_name= "Cases")
#convert from colunm oriented to row oriented formate

In [5]:
conform_case

         countyFIPS            County Name State  StateFIPS        Date  Cases
0                 0  Statewide Unallocated    AL          1  2020-01-22      0
1              1001        Autauga County     AL          1  2020-01-22      0
2              1003        Baldwin County     AL          1  2020-01-22      0
3              1005        Barbour County     AL          1  2020-01-22      0
4              1007           Bibb County     AL          1  2020-01-22      0
...             ...                    ...   ...        ...         ...    ...
3483558       56037     Sweetwater County     WY         56  2023-01-16  12437
3483559       56039          Teton County     WY         56  2023-01-16  12045
3483560       56041          Uinta County     WY         56  2023-01-16   6333
3483561       56043       Washakie County     WY         56  2023-01-16   2731
3483562       56045         Weston County     WY         56  2023-01-16   1881

[3483563 rows x 6 columns]

In [6]:
conform_case.dtypes # function used to discribe all attribute data type

countyFIPS      int64
County Name    object
State          object
StateFIPS       int64
Date           object
Cases           int64
dtype: object

In [7]:
c_death=pd.read_csv("C:/Users/prati/OneDrive/Desktop/605/2k23/Project Stage - I/Project Stage - I/data/covid_deaths_usafacts.csv")
c_death #importing death datset and store in variable called c_death

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-01-07,2023-01-08,2023-01-09,2023-01-10,2023-01-11,2023-01-12,2023-01-13,2023-01-14,2023-01-15,2023-01-16
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,230,230,230,230,230,230,230,230,230,230
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,719,719,719,719,719,721,721,721,721,721
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,103,103,103,103,103,103,103,103,103,103
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,108,108,108,108,108,108,108,108,108,108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,136,136,136,136,136,136,136,136,136,136
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,16,16,16,16,16,16,16,16,16,16
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,43,43,43,43,43,43,43,43,43,43
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,47,47,47,47,47,47,47,47,47,47
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,22,22,22,22,22,22,22,22,22,22

In [8]:
final_death= pd.melt(frame = c_death, id_vars=['countyFIPS','County Name','State','StateFIPS'], var_name= ['Date'], value_name= "Death")

In [9]:
final_death

         countyFIPS            County Name State  StateFIPS        Date  Death
0                 0  Statewide Unallocated    AL          1  2020-01-22      0
1              1001        Autauga County     AL          1  2020-01-22      0
2              1003        Baldwin County     AL          1  2020-01-22      0
3              1005        Barbour County     AL          1  2020-01-22      0
4              1007           Bibb County     AL          1  2020-01-22      0
...             ...                    ...   ...        ...         ...    ...
3483558       56037     Sweetwater County     WY         56  2023-01-16    136
3483559       56039          Teton County     WY         56  2023-01-16     16
3483560       56041          Uinta County     WY         56  2023-01-16     43
3483561       56043       Washakie County     WY         56  2023-01-16     47
3483562       56045         Weston County     WY         56  2023-01-16     22

[3483563 rows x 6 columns]

In [10]:
final_death.dtypes

countyFIPS      int64
County Name    object
State          object
StateFIPS       int64
Date           object
Death           int64
dtype: object

In [11]:
c_pop=pd.read_csv("C:/Users/prati/OneDrive/Desktop/605/2k23/Project Stage - I/Project Stage - I/data/covid_county_population_usafacts.csv")
c_pop #importing population datset and  store in variable called c_pop

      countyFIPS            County Name State  population
0              0  Statewide Unallocated    AL           0
1           1001         Autauga County    AL       55869
2           1003         Baldwin County    AL      223234
3           1005         Barbour County    AL       24686
4           1007            Bibb County    AL       22394
...          ...                    ...   ...         ...
3190       56037      Sweetwater County    WY       42343
3191       56039           Teton County    WY       23464
3192       56041           Uinta County    WY       20226
3193       56043        Washakie County    WY        7805
3194       56045          Weston County    WY        6927

[3195 rows x 4 columns]

In [12]:
population=c_pop.drop('County Name',1) #here to drop column County Name we used function drop on population dataframe  
population

C:\Users\prati\AppData\Local\Temp\ipykernel_6364\2215407294.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  population=c_pop.drop('County Name',1) #here to drop column County Name we used function drop on population dataframe

      countyFIPS State  population
0              0    AL           0
1           1001    AL       55869
2           1003    AL      223234
3           1005    AL       24686
4           1007    AL       22394
...          ...   ...         ...
3190       56037    WY       42343
3191       56039    WY       23464
3192       56041    WY       20226
3193       56043    WY        7805
3194       56045    WY        6927

[3195 rows x 3 columns]

In [13]:
population.dtypes

countyFIPS     int64
State         object
population     int64
dtype: object

In [14]:
merge_case_death = pd.merge(conform_case,final_death,on = ['countyFIPS','County Name',"State",'StateFIPS',"Date"]) 
# Here for doing merge on case and death dataset by equal column in both dataset. 
merge_case_death

,countyFIPS,County Name,State,StateFIPS,Date,Cases,Death
0,0,Statewide Unallocated,AL,1,2020-01-22,0,0
1,1001,Autauga County,AL,1,2020-01-22,0,0
2,1003,Baldwin County,AL,1,2020-01-22,0,0
3,1005,Barbour County,AL,1,2020-01-22,0,0
4,1007,Bibb County,AL,1,2020-01-22,0,0
...,...,...,...,...,...,...,...
3483558,56037,Sweetwater County,WY,56,2023-01-16,12437,136
3483559,56039,Teton County,WY,56,2023-01-16,12045,16
3483560,56041,Uinta County,WY,56,2023-01-16,6333,43
3483561,56043,Washakie County,WY,56,2023-01-16,2731,47
3483562,56045,Weston County,WY,56,2023-01-16,1881,22

In [15]:
Super_covid=pd.merge(merge_case_death,population) 
# making super_merged dataset by merging population dataset with previously merged datasset.
Super_covid

,countyFIPS,County Name,State,StateFIPS,Date,Cases,Death,population
0,0,Statewide Unallocated,AL,1,2020-01-22,0,0,0
1,0,Statewide Unallocated,AL,1,2020-01-23,0,0,0
2,0,Statewide Unallocated,AL,1,2020-01-24,0,0,0
3,0,Statewide Unallocated,AL,1,2020-01-25,0,0,0
4,0,Statewide Unallocated,AL,1,2020-01-26,0,0,0
...,...,...,...,...,...,...,...,...
3483558,56045,Weston County,WY,56,2023-01-12,1881,22,6927
3483559,56045,Weston County,WY,56,2023-01-13,1881,22,6927
3483560,56045,Weston County,WY,56,2023-01-14,1881,22,6927
3483561,56045,Weston County,WY,56,2023-01-15,1881,22,6927
3483562,56045,Weston County,WY,56,2023-01-16,1881,22,6927

In [16]:
Super_covid.to_csv('C:/Users/prati/OneDrive/Desktop/605/2k23/Project Stage - I/Project Stage - I/data/Super_covid.csv',index=False)
#TO store Super_covid dataset into CSV format.