In [38]:
import pandas as pd
cases = pd.read_csv("covid_confirmed_usafacts.csv")
deaths = pd.read_csv("covid_deaths_usafacts.csv")
county = pd.read_csv("covid_county_population_usafacts.csv")

cases= pd.melt(frame = cases, id_vars=['countyFIPS','County Name','State','StateFIPS'], var_name= ['Date'], value_name= "Cases")
cases

         countyFIPS            County Name State  StateFIPS        Date  Cases
0                 0  Statewide Unallocated    AL          1  2020-01-22      0
1              1001        Autauga County     AL          1  2020-01-22      0
2              1003        Baldwin County     AL          1  2020-01-22      0
3              1005        Barbour County     AL          1  2020-01-22      0
4              1007           Bibb County     AL          1  2020-01-22      0
...             ...                    ...   ...        ...         ...    ...
3483558       56037     Sweetwater County     WY         56  2023-01-16  12437
3483559       56039          Teton County     WY         56  2023-01-16  12045
3483560       56041          Uinta County     WY         56  2023-01-16   6333
3483561       56043       Washakie County     WY         56  2023-01-16   2731
3483562       56045         Weston County     WY         56  2023-01-16   1881

[3483563 rows x 6 columns]

In [41]:
deaths = pd.melt(frame = deaths, id_vars=['countyFIPS', 'County Name', 'State', 'StateFIPS'], var_name=['Date'], value_name="Deaths")
deaths

,countyFIPS,County Name,State,StateFIPS,Date,Deaths
0,0,Statewide Unallocated,AL,1,2020-01-22,0
1,1001,Autauga County,AL,1,2020-01-22,0
2,1003,Baldwin County,AL,1,2020-01-22,0
3,1005,Barbour County,AL,1,2020-01-22,0
4,1007,Bibb County,AL,1,2020-01-22,0
...,...,...,...,...,...,...
3483558,56037,Sweetwater County,WY,56,2023-01-16,136
3483559,56039,Teton County,WY,56,2023-01-16,16
3483560,56041,Uinta County,WY,56,2023-01-16,43
3483561,56043,Washakie County,WY,56,2023-01-16,47
3483562,56045,Weston County,WY,56,2023-01-16,22

In [39]:
county = county.drop('County Name', axis=1)
county

      countyFIPS State  population
0              0    AL           0
1           1001    AL       55869
2           1003    AL      223234
3           1005    AL       24686
4           1007    AL       22394
...          ...   ...         ...
3190       56037    WY       42343
3191       56039    WY       23464
3192       56041    WY       20226
3193       56043    WY        7805
3194       56045    WY        6927

[3195 rows x 3 columns]

In [42]:
result = pd.merge(cases, deaths, on=['countyFIPS','County Name','State','StateFIPS','Date'])
result

,countyFIPS,County Name,State,StateFIPS,Date,Cases,Deaths
0,0,Statewide Unallocated,AL,1,2020-01-22,0,0
1,1001,Autauga County,AL,1,2020-01-22,0,0
2,1003,Baldwin County,AL,1,2020-01-22,0,0
3,1005,Barbour County,AL,1,2020-01-22,0,0
4,1007,Bibb County,AL,1,2020-01-22,0,0
...,...,...,...,...,...,...,...
3483558,56037,Sweetwater County,WY,56,2023-01-16,12437,136
3483559,56039,Teton County,WY,56,2023-01-16,12045,16
3483560,56041,Uinta County,WY,56,2023-01-16,6333,43
3483561,56043,Washakie County,WY,56,2023-01-16,2731,47
3483562,56045,Weston County,WY,56,2023-01-16,1881,22

In [43]:
SuperSet = pd.merge(result,county)
SuperSet

,countyFIPS,County Name,State,StateFIPS,Date,Cases,Deaths,population
0,0,Statewide Unallocated,AL,1,2020-01-22,0,0,0
1,0,Statewide Unallocated,AL,1,2020-01-23,0,0,0
2,0,Statewide Unallocated,AL,1,2020-01-24,0,0,0
3,0,Statewide Unallocated,AL,1,2020-01-25,0,0,0
4,0,Statewide Unallocated,AL,1,2020-01-26,0,0,0
...,...,...,...,...,...,...,...,...
3483558,56045,Weston County,WY,56,2023-01-12,1881,22,6927
3483559,56045,Weston County,WY,56,2023-01-13,1881,22,6927
3483560,56045,Weston County,WY,56,2023-01-14,1881,22,6927
3483561,56045,Weston County,WY,56,2023-01-15,1881,22,6927
3483562,56045,Weston County,WY,56,2023-01-16,1881,22,6927

In [44]:
result.to_csv('cases_deaths_county_data.csv')